<div [hidden]="!isSidebarOpen" class="fixed inset-0 z-10 overflow-hidden">
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <!-- Sidebar Content -->
    <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
        <div class="w-screen max-w-md">
            <div class="h-full flex flex-col py-6 bg-white shadow-xl">
                <!-- Sidebar Header -->
                <div class="flex items-center justify-between px-4">
                    <h2 class="text-xl font-semibold text-black">Nayeli</h2>
                    <button (click)="closeSidebar()" class="text-gray-500 hover:text-gray-700">
                        <span class="sr-only">Close</span>
                        <svg class="h-6 w-6" x-description="Heroicon name: x" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <hr class="mt-3 sm:mt-5 mb-3 sm:mb-5">

                @if (!isUserLogged) {
                <app-login></app-login>
                } @else if(isSignIn){
                <hr class="mt-3 sm:mt-5 mb-3 sm:mb-5">

                <div class="px-4">
                    <p class="ml-2 text-gray-400">Log in to </p>
                </div>

                <!-- Search Input -->
                <div class="mt-4 pr-40 ml-4">
                    <input type="email" placeholder="Email"
                        class="w-full p-2 border border-gray-300 rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
                    <input type="password" placeholder="Password"
                        class="w-full mt-5 p-2 border border-gray-300 rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
                </div>
                <!-- Sidebar Content -->
                <div class="mt-4 px-4 h-full overflow-auto">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <!-- Card 1 -->
                        <div
                            class="bg-gray-50 hover:bg-gray-100 p-4 cursor-pointer rounded-md border border-gray-300 transition-colors duration-300">
                            <h3 class="text-lg font-semibold text-black mb-2">Card 1</h3>
                            <p class="text-gray-600">Content for card 1.</p>
                        </div>
                        <!-- Card 2 -->
                        <div
                            class="bg-gray-50 hover:bg-gray-100 p-4 cursor-pointer rounded-md border border-gray-300 transition-colors duration-300">
                            <h3 class="text-lg font-semibold text-black mb-2">Card 2</h3>
                            <p class="text-gray-600">Content for card 2.</p>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Footer -->
                <div class="mt-6 px-4">
                    <button
                        class="flex justify-center items-center bg-orange-500 text-white rounded-md text-sm p-2 gap-1">
                        Logged out </button>
                </div>
                }
            </div>
        </div>
    </section>
</div>