<footer class="bg-black text-white text-center py-8 p-7">
    <div class="container mx-auto">
        <p class="text-lg mb-4">Contact Information</p>
        <p class="mb-2">Email: <a href="mailto:nandopiless@gmail.com"
                class="text-orange-500">nandopiless&#64;gmail.com</a></p>
        <p class="mb-2">Linkedin: <a href="https://www.linkedin.com/in/ferranpileslablanca/"
                class="text-orange-500">Ferran Piles Lablanca</a></p>
        <p class="mb-2">Github: <a href="https://github.com/nandopiles" class="text-orange-500">nandopiles</a></p>
    </div>
</footer>