@if (isLoading) {
<app-spinner></app-spinner>
} @else {
<div class="bg-white">
    <div class="pt-6 pb-20">
        <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
            <!-- Image -->
            <div class="aspect-h-4 aspect-w-3 overflow-hidden lg:border-r lg:border-gray-200 rounded-lg lg:block">
                <img [src]="'assets/img/'+product.img" [alt]="'Stock photo of the product '+product.name"
                    class="h-full w-full object-cover object-center">
            </div>

            <!-- Information -->
            <div class="mt-3 lg:row-span-3 lg:mt-8">
                <h2 class="sr-only">Product information</h2>
                <p class="text-2xl mb-3 font-extrabold">{{product.brand}}</p>
                <p class="text-lg">{{product.name}}</p>
                <div class="mt-10">
                    <h3 class="text-sm font-medium text-gray-900">Highlights</h3>

                    <div class="mt-4">
                        <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                            <li class="text-gray-400"><span class="text-gray-600">Hand cut and sewn locally</span></li>
                            <li class="text-gray-400"><span class="text-gray-600">Dyed with our proprietary
                                    colors</span></li>
                            <li class="text-gray-400"><span class="text-gray-600">Pre-washed &amp; pre-shrunk</span>
                            </li>
                            <li class="text-gray-400"><span class="text-gray-600">Ultra-soft 100% made with love</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Size Form -->
            <form class="mt-2 p-5 lg:border-l-2 border-gray-300">
                <p class="text-3xl tracking-tight text-gray-900">{{ product.price }}€</p>
                <div class="mt-4">
                    <fieldset class="mt-4">
                        <legend class="sr-only">Choose Size</legend>
                        <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
                            <!-- Depending on the category product it'll be displayed its type of size -->
                            @for (sizeOption of getSizeOptions(); track $index) {
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
                                [class]="sizeOption.disabled ? 'bg-gray-50 text-gray-200 cursor-not-allowed' : 'bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500 cursor-pointer'">
                                <input type="radio" [formControl]="sizeSelected" [value]="sizeOption.value"
                                    class="sr-only" [attr.disabled]="sizeOption.disabled ? true : null">
                                <span>{{ sizeOption.label }}</span>
                            </label>
                            }
                        </div>
                    </fieldset>
                </div>
                <p class="mt-4 text-nowrap">Size selected: <b>{{ sizeSelected.value }}</b></p>


                <div class="grid grid-cols-11 gap-4 py-5">
                    <button (click)="addToCart()" type="submit"
                        class="col-span-10 lg:w-full text-white bg-gradient-to-br from-orange-300 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-600 font-medium rounded-lg text-md py-2 text-center">Add
                        To Cart</button>
                    <button (click)="toggleFavorite()" class="col-span-1 hover:animate-bounce">
                        @if (isProductInFavorites()) {
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-filled"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"
                                stroke-width="0" fill="currentColor" />
                        </svg>
                        }@else {
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="35"
                            height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
}