<div class="bg-white">
    <div class="pt-6">

        <!-- Image gallery -->
        <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
            <div
                class="aspect-h-4 aspect-w-3 hidden overflow-hidden lg:border-r lg:border-gray-200 rounded-lg lg:block">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg"
                    alt="Two each of gray, white, and black shirts laying flat."
                    class="h-full w-full object-cover object-center">
            </div>

            <!-- Options -->
            <div class="mt-4 lg:row-span-3 lg:mt-5">
                <h2 class="sr-only">Product information</h2>
                <article class="mb-3">
                    <p class="text-2xl font-extrabold">Brand</p>
                    <p class="text-lg font-mono">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates non aliquid porro error sit culpa voluptatem nemo sapiente saepe alias minus, placeat et! Molestiae corrupti eos, quidem fuga eaque est!</p>
                </article>
            </div>
            <form class="mt-2 p-5 lg:border-l-2 border-gray-300">
                <p class="text-3xl tracking-tight text-gray-900">192€</p>
                <!-- Sizes -->
                <div class="mt-4">
                    <fieldset class="mt-4">
                        <legend class="sr-only">Choose a size</legend>
                        <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
                            <!-- XXS -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-not-allowed bg-gray-50 text-gray-200">
                                <input type="radio" value="XXS" class="sr-only"
                                    aria-labelledby="size-choice-0-label">
                                <span id="size-choice-0-label">XXS</span>
                            </label>

                            <!-- XS -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500">
                                <input type="radio" [formControl]="size" value="XS" class="sr-only"
                                    aria-labelledby="size-choice-1-label">
                                <span id="size-choice-1-label">XS</span>
                            </label>

                            <!-- S -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500">
                                <input type="radio" [formControl]="size" value="S" class="sr-only"
                                    aria-labelledby="size-choice-2-label">
                                <span id="size-choice-2-label">S</span>
                            </label>

                            <!-- M -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500">
                                <input type="radio" [formControl]="size" value="M" class="sr-only"
                                    aria-labelledby="size-choice-3-label">
                                <span id="size-choice-3-label">M</span>
                            </label>

                            <!-- L -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500">
                                <input type="radio" [formControl]="size" value="L" class="sr-only"
                                    aria-labelledby="size-choice-4-label">
                                <span id="size-choice-4-label">L</span>
                            </label>

                            <!-- XL -->
                            <label
                                class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm active:ring-2 ring-orange-500">
                                <input type="radio" [formControl]="size" value="XL" class="sr-only"
                                    aria-labelledby="size-choice-5-label">
                                <span id="size-choice-5-label">XL</span>
                            </label>
                        </div>

                    </fieldset>
                </div>

                <p class="mt-4 text-nowrap">Size selected: <b>{{size.value}}</b></p>

                <button type="submit"
                    class="mt-10 lg:w-full text-white bg-gradient-to-br from-orange-300 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-800 font-medium rounded-lg text-md px-5 py-2.5 text-center">Add
                    to bag</button>
            </form>
        </div>
    </div>
</div>