<div
    class="bg-gray-100 mt-8 px-4 py-2 flex flex-col items-center sm:flex-row sm:justify-center lg:flex-row lg:justify-center lg:space-x-2 border rounded-md border-gray-200">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <select formControlName="category"
            class="mb-2 sm:mb-0 border-gray-300 border-2 px-4 py-2 rounded-lg focus:outline-none focus:border-orange-500">
            <option value="" disabled>Filter by category</option>
            <option value="all">All</option>
            @for (category of categories; track $index) {
            <option [value]="category.id">{{category.name}}</option>
            }
        </select>
        <input type="text" formControlName="name" placeholder="Search products"
            class="mb-2 sm:ml-2 border-gray-300 border-2 px-4 py-2 rounded-lg focus:outline-none focus:border-orange-500">
        <button type="submit"
            class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600 focus:outline-none">Filter</button>
    </form>
</div>