<main class="bg-gray-800 relative overflow-hidden h-screen w-screen">
    <div class="flex relative z-20 items-center overflow-hidden">
        <div class="container mx-auto px-4 flex relative pt-6">
            <div class="sm:w-2/3 lg:w-2/5 flex flex-col relative">
                <span class="w-20 h-2 bg-[#e4e2dd] mb-10"></span>
                <h1
                    class="mb-9 font-bebas-neue uppercase text-6xl sm:text-8xl font-black flex flex-col leading-none text-[#e4e2dd]">
                    Bla
                    <span class="text-5xl sm:text-7xl"> bla bla</span>
                </h1>
                <p class="text-sm sm:text-base text-[#e4e2dd] mb-5">
                    Bla Bla Bla... Tired of all the talk but no action? Say no more! Welcome to our online store where
                    action speaks louder than words. Get ready to discover unbeatable deals and top-quality products
                    that deliver on their promises. Say goodbye to the chatter and hello to real value! Start shopping
                    now!
                </p>

                <a routerLink="/products"
                    class="w-50 mt-12 text-white bg-gradient-to-br from-orange-300 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-800 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Shop
                    now</a>
            </div>
            <div class="hidden sm:block sm:w-1/3 lg:w-3/5 relative">
                <img src="/assets/figure.png" class="max-w-md md:max-w-lg m-auto" />
            </div>
        </div>
    </div>
</main>